.serviceArea__top {
  display: flex;
  flex-direction: column;
}

.serviceArea__top h3 {
  max-width: 20rem;
  color: var(--color-primary)
}

.serviceArea__bottom {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.serviceArea__bottom p {
  margin: 0 0 1.5rem 0;
}

.serviceArea {
  width: 100%;
}

.serviceArea__bottom a {
  width: 100%;
  padding: 1rem;
  font-weight: 400;
}

.serviceArea__top img {
  width: 100%;
  max-width: 8rem;
  align-self: center;
}

@media (max-width: 700px) {
  .serviceArea__bottom {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .serviceArea {
    padding: 1.5rem;
  }

  .serviceArea__top {
    flex-direction: column;
    gap: 0;
  }

  .serviceArea__top h3 {
    align-self: flex-start;
  }

  .serviceArea__bottom {
    width: 100%;
  }

  .serviceArea__top img {
    display: block;
    margin: auto;
    margin-left: 0;
  }

  .serviceArea__top img {
    width: 40vw;
    height: auto;
  }
}
