.contact-form__heading {
    padding-bottom: 2rem;
    margin-top: 8rem;
}

.contact-form__form {
    margin-top: 7rem;
}

.contact-form__form label {
    display: block;
}

.contact-form__container > p {
    font-size: 1.6rem;
}

.contact-form__form input, .contact-form__form textarea {
    border: 2px solid var(--color-secondary1);
    border-radius: 30px;
    padding: 16px;
}

.contact-form__content-container label {
    margin-bottom: 0.5rem;
}

.contact-form__form input:not(input[type="checkbox"]) {
    margin-bottom: 1rem;
    width: 362px;
    max-width: 100%;
}

.contact-form__content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form__input-wrapper {
    width: 362px;
    max-width: 100%;
}

.contact-form__input-wrapper input {
    width: 100%;
}

.contact-form__textarea-container {
    width: 647px;
    max-width: 100%;
}

.contact-form__textarea-container textarea {
    height: 237px;
    width: 100%;
}

.contact-form__checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-form__form input[type="submit"] {
    background-color: var(--color-secondary1);
    border-color: transparent;
    color: #fff;
    border-radius: 70px;
    padding: 1.3rem 4rem;
    cursor: pointer;
}

.contact-form__contacts {
    margin: 7rem auto 15rem auto;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 990px) {
    .contact-form__contacts {
        margin: 2rem auto 7rem auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}