.main {
  position: relative;
}
.main--overflow {
  overflow-x: hidden;
}

.main__inner {
  width: calc(1290px + 8rem);
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4rem;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.main__innerFullWidth {
  max-width: unset;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding-right: 7.4rem;
  max-width: 50rem;
  margin: 0 auto;
}

.header__logo img {
  display: block;
  margin: 1.2rem;
  height: 0.9rem;
}

@keyframes backgroundPos {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.footer {
  background: url("./footer.svg") no-repeat center top;
}

.footer__inner {
  position: relative;
  z-index: 2;
  max-width: 50rem;
  margin: 0 auto;
  padding: 5.6rem 1.2rem 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__inner--bottom {
  padding: 2.4rem 1.2rem 5.6rem;
}

.footer__item:nth-child(1):not(.footer__item--address) {
  margin-top: 13rem;
}

.footer__item:nth-child(2):not(.footer__item--address) {
  margin-top: 8rem;
}
@media (max-width: 453px) {
  .footer__item:nth-child(2):not(.footer__item--address) {
    margin-top: 2.4rem;
  }
}

.footer__item:nth-child(3):not(.footer__item--address) {
  margin-top: 2.4rem;
}
.footer__item {
  color: var(--color-standard__white);
  flex: 1;

  min-width: 15rem;
}
.footer__item--address {
  margin-top: 0;
  margin-bottom: 1.2rem;
}
.footer__item h2 {
  font-size: 1.5rem;
}
.footer__item address {
  font-style: normal;
  line-height: 1.85rem;
}
.footer__item p {
  margin: 1.6rem 0;
}
.footer__item ul {
  list-style: none;
  padding: 0;
  margin: 1.6rem 0 0;
}
.footer__item li {
  margin-bottom: 0.6rem;
}
.footer__item a {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 0.1rem;
  transition: border-bottom 200ms ease-out;
}
.footer__item a:hover {
  border-bottom: 1px solid var(--color-secondary2);
}
